body {
    padding: 20px;
}

#image, #text{
    display: inline-block;
    padding: 40px;
    width: 50%;
    height: 25%;
}

.item{
    margin: 50px;
    border: 2px solid grey;
    border-radius: 5px;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

h4, h6 {
    color: black;
}

#item_image{
    width: 60%;
    height: 250px;
    margin: 15px;
}