{% extends "auctions/layout.html" %}
{% block body %}
<h2>Active Listings</h2>
<div>
    {% for item in listing %}
    <a href="{% url 'item_page' item.title %}">
    <div class="item">
        <div id="image"><img src="{{ item.image }}" alt="{{ item.title }}" width="400px"></div>
        <div id="text">
            <h4>{{ item.title }}</h4>
            <h6>Price: ${{ item.price }}</h6><br>
            <p>{{ item.date }}</p>
            <p>
                {% for comm in bids %}
                    {% if comm.serial == item %}
                        <p>{{ comm.username }}</p>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    </a>
    {% endfor %}
</div>
{% endblock %}