{% extends "auctions/layout.html" %} {% block body %}
<h2>Listings: {{ listing.title }}</h2>
<div>
    <h3>{{ message }}</h3>
  <div><img id="item_image" src="{{ listing.image }}" width="400px" /></div>
  <h6>{{ listing.description }}</h6>
  <br />
  <h4>${{ listing.price }}</h4>
  {% for bid in bids %}
  <h1>{{ bid.amt }}</h1>
  {% endfor %}
  <form action="{% url 'place_bid' item%}">
    <input type="number" name="q" />
    <input type="submit" value="Place Bid" />
  </form>
  <h5>Details</h5>
</div>
{% endblock %}